html, body {
    width: 100%;
	font-family: $roboto;
    font-weight: 300;
    margin: 0;
    background-color: $off-blk;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2rem;
    text-align: right;
    border-bottom: 2px solid $accent-orange;
    margin: 0 0 .5rem;
}
h3 {
    font-size: 1.5rem;
    text-align: right;
    margin: 0 0 .5rem;

    .page-content & {
        border-bottom: 2px solid $accent-orange;
    }
}

.separator {
    background-color: $title-red;
    height: 2px;
    border: none;
    margin-bottom: 1rem;
}

.page-wrap {
    padding: 1rem 0 7vw;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center bottom -1px;
    background-size: 200vw;
}

.content-wrap {
    padding: 0 1rem;
    max-width: $lg;
    margin: 0 auto;
}

.content {
    line-height: 1.5rem;
    font-family: $roboto-slab;
    font-weight: 400;
    margin-bottom: 1rem;

    &--bigger {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.stat-title {
    font-family: $alegreya;
    font-weight: 700;
    color: $title-red;

    &--sm {
        font-weight: 500;
        font-size: 1rem;
        text-transform: lowercase;
    }
}

.wp-block-columns {
    @include at-least($sm){
        column-count: 2;
    }
}