@import '../base/typography';

// Breakpoints
$xs: 420px;
$sm: 770px;
$md: 960px;
$lg: 1200px;
$xl: 1600px;

// Colors
$wht: #ffffff;
$blk: #1b1b1b;
$off-blk: #292929;
$off-wht: #f9f9f9;

$grey-1: #3f3e3f;
$grey-2: #535153;
$grey-3: #676566;
$grey-4: #7B787A;
$grey-5: #989697;
$grey-6: #b5b3b5;
$grey-7: #d2d1d2;
$grey-8: #f9f9f9;

// -----

$title-red: #58180D;